{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>{% block title %} {% endblock %}</title>
</head>

<body>
  <div class="container">
    <nav>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'articles:create' %}">New Article</a></li>
        <li>
          <form class="logout-link" action="{% url 'accounts:logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Logout</button>
          </form>
        </li>
        {% else %}
        <li><a href="{% url 'accounts:login' %}">Login</a></li>
        <li><a href="{% url 'accounts:signup' %}">Signup</a></li>
        {% endif %}
      </ul>
    </nav>
    {% block content %}
    {% endblock %}
  </div>
</body>

</html>